VITE_APP_NAME=CDA Putumayo
# Android emulator: http://10.0.2.2:3600
# Physical device: http://IP_DE_TU_PC:3600 or your production domain
VITE_API_URL=http://10.0.2.2:3600
VITE_URL_SWAGGER_GATEWAY=http://10.0.2.2:3600/api/docs
VITE_API_KEY_FRONT=your_api_key_here
